<mat-card class="example-card">

  <table>
    <tr>
      <td>
        <h2>Nossa História</h2>
        <p style="text-align: justify;">No dia 14/04/2020 selamos nossa relação. E foi com um pedido de namoro daqueles! <br/>
          E foi assim, com um surpresa bem planejada que a gente deu o passo inicial na nossa história.
          Nesse dia a noiva nem imaginava que seria seria surpreendida com tal pedido de namoro. Eu tive dois
          cumplíces muito importantes (Guta e Francisco). Pois estávamos no casamento deles, e eles ajudaram
          a deixar tudo escondidinho no carro (Flores e afins). Após o casamento e chegar no hotel em Itamaracá
          o quarto estava preparado e ela foi surpreendida. E assim recebi o melhor <b>SIM</b> da minha vida!
      </td>
      <td>
        <img src="../../../assets/imagnes/IMG_20190414_085611723_HDR.jpg">
      </td>
    </tr>
  </table>
  <!--
  <div class="mainDiv">
    <div class="primeiraDiv">
      <h1> Nossa História</h1>
      <p style="text-align: justify;">No dia 14/04/2020 selamos nossa relação. E foi com um pedido de namoro daqueles! <br/>
          E foi assim, com um surpresa bem planejada que a gente deu o passo inicial na nossa história.
          Nesse dia a noiva nem imaginava que seria seria surpreendida com tal pedido de namoro. Eu tive dois
          cumplíces muito importantes (Guta e Francisco). Pois estávamos no casamento deles, e eles ajudaram
          a deixar tudo escondidinho no carro (Flores e afins). Após o casamento e chegar no hotel em Itamaracá
          o quarto estava preparado e ela foi surpreendida. E assim recebi o melhor <b>SIM</b> da minha vida!
      </p>
    </div>
    <div class="segundaDiv">
      <img src="../../../assets/imagnes/IMG_20190414_085611723_HDR.jpg">
    </div>
  </div>
-->
</mat-card>

<!--
   <mat-card-title-group>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Extra large</mat-card-subtitle>
    <img mat-card-xl-image src="../../../assets/imagnes/IMG_20190414_085611723_HDR.jpg" style="width: auto;">
  </mat-card-title-group>
  <mat-card-content>
    teste
  </mat-card-content>
-->
