.example-card {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  margin-top: 8px;
}

table{
  width: 100%;
  table-layout: fixed;
}

.leftTextTd{
  padding-left: 7%;
  padding-right: 5%;
  text-align: justify;
}

.rightImg{
  width: 680px;
  height: auto;
}

.leftImg{
  margin-top: 10%;
  padding-left: 15%;
  width: 680px;
  height: auto;
}

.rightTextTd{

  padding-right: 12%;
  text-align: justify;
}

p {
  font-size: 18px;
}
