.example-card {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  margin-top: 8px;
}

table{
  width: 100%;
  table-layout: fixed;
}
h2 p{

  padding-left: 15px;
  padding-right: 60px;
  text-align: justify;
}

.td{
  width: 50%;
}

img{
  padding-left: 45px;
  width: 56%;
  height: auto;
}
