<mat-card class="example-card">

  <table>
    <tr>
      <td class="leftTextTd">
        <h1 style="font-weight: bold; font-size: 50px;">Nossa História</h1>
        <br>
        <p style="text-align: justify;">Tudo começou com um simples "Oi" no dia 14/04/2020. Ali selamos nossa relação, e foi com um pedido de namoro daqueles! <br/>
          E foi assim, com um surpresa bem planejada que a gente deu o passo inicial na nossa história.
          Nesse dia a noiva nem imaginava que seria seria surpreendida com tal pedido de namoro. Eu tive dois
          cumplíces muito importantes (Guta e Francisco). Pois estávamos no casamento deles, e eles ajudaram
          a deixar tudo escondidinho no carro (Flores e afins). Após o casamento e chegar no hotel em Itamaracá
          o quarto estava preparado e ela foi surpreendida. E assim recebi o melhor <b>SIM</b> da minha vida!
        </p>
      </td>
      <td class="rightTd">
        <img class="rightImg" src="../../../assets/imagens/foto01.jpg">
      </td>
    </tr>
    <tr>
      <td>
        <img class="leftImg" src="../../../assets/imagens/foto02.jpg">
      </td>
      <td class="rightTextTd">
        <h1 style="font-weight: bold; font-size: 50px;">Mais e Mais Próximos</h1> <br>
        <p style="text-align: justify;">Logo percebemos que nossa sintonia era grandiosa. Com o passar dos dias, a gente foi se conhecendo
          melhor. E a cada dia que passava, mais a vontade de estar juntos aumentava em nossos corações. Como diz uma certa música...
          <br><br>
          <i>Tantos sorrisos por aí, você querendo o meu <br> Tantos olhares me olhando e eu querendo o seu <br> Eu não duvido não
          e não foi por acaso<br> Se o amor bateu na nossa porta, que <b>SORTE A NOSSA!</b></i>
        </p>
      </td>
    </tr>
    <tr>
      <td class="leftTextTd">
        <h1 style="font-weight: bold; font-size: 50px;">Vamos Viver a Vida Juntos!</h1>
        <br>
        <p style="text-align: justify;">E está nosso grande dia! Dia que selaremos nossas vidas e juntos vamos nos torar apenas um.
          <br>
          Que Deus nos abençoe, nos conceda saúde, alegrias e grandes conquistas.
          <br>
          Que Abençoe nossa família e nossos amigos. Que Ele Esteja sempre ao nosso lado e que a gente consiga serví-lo no que Ele desejar.
          <br>
          A partir desse momento, vamos construir uma família linda! Não vejo a hora de ter nosso cantinho para chamar
          <b>" NOSSA CASA "</b>
          nosso endereço fixo para uma vida linda juntos. Vamos celebrar com nossos familares e amigos esse momento ímpar nas nossas vidas.
          <br> <br>
          Desejamos a todos vocês que fazem parte ( direta ou indiretamente ) da nossas vidas. Que nos apoiaram e estavam sempre por perto
          para o que der e vier. <br>
          Sintam-se abraçados!
        </p>
      </td>
      <td class="rightTd">
        <img class="rightImg" src="../../../assets/imagens/foto03.jpg">
      </td>
    </tr>
  </table>
</mat-card>
