<div class="container">
  <div class="subdiv">

    <mat-card>
      <mat-card-header >
        Envie sua mensagem abaixo.
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content >
        <mat-divider></mat-divider>
        <form class="form">
          <mat-label>Seu nome:</mat-label>
          <mat-form-field appearance="fill" >
            <input matInput>
          </mat-form-field>
          <br>
          <mat-label>Mensagem: </mat-label>
          <mat-form-field appearance="fill">
            <textarea style="resize: none;" matInput></textarea>
            <button mat-stroked-button style="background-color: green;" >
              <span class="material-icons-outlined">
                Enviar
                </span>
            </button>
          </mat-form-field>
        </form>
      </mat-card-content>



    </mat-card>

  </div>

</div>
