<div class="container">
  <div class="subdiv">

    <mat-card>
      <mat-card-header >
        Envie sua mensagem abaixo.
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content >
        <mat-divider></mat-divider>
        <form class="form">
          <mat-form-field appearance="fill" >
            <mat-label>Seu nome</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </form>
      </mat-card-content>

    </mat-card>

  </div>

</div>
