<mat-toolbar color="primary" class="mat-elevation-z6">

  <button mat-stroked-button color="blue">
    <mat-icon>
      <span class="material-icons-outlined">
        home
      </span>
    </mat-icon>
    <span>Home</span>
    </button>
  <button mat-stroked-button color="blue">
    <mat-icon>
      <span class="material-icons-outlined">
        people_alt
        </span>
    </mat-icon>
    <span>Sobre os Noivos</span>
  </button>
  <button mat-stroked-button color="blue">
    <mat-icon>
      <span class="material-icons-outlined">
        person
        </span>
    </mat-icon>
    Padrinhos e Madrinhas
  </button>
  <button mat-stroked-button color="blue">
    <mat-icon>
      <span class="material-icons-outlined">
        email
        </span>
    </mat-icon>
    Escreva para os Noivos
  </button>
  <button mat-stroked-button color="blue">
    <mat-icon>
      <span class="material-icons-outlined">
        email
        </span>
    </mat-icon>
    Mural de Mensagens
  </button>
</mat-toolbar>

<figure>
  <video oncanplay="this.play()" onloadedmetadata="this.muted = true" poster="../../../assets/imagnes/IMG_20190414_085611723_HDR.jpg" controls autoplay loop>
      <source src="../../../assets/Videos/Video.mp4" type="video/mp4" />
  </video>
</figure>

