<mat-card class="example-card">

  <table>
    <tr>
      <td class="leftTextTd">
        <h1 style="font-weight: bold; font-size: 50px;">Mayke & Flora</h1>
        <br>
        <p style="text-align: justify;">O que a gente pode falar desses amigos que são mais que amigos?! haha!
          <br><br>
          Alô <b>MAYKE TERRORISTA!</b> aqui é o noivo falando haha!
          <br>
          Você é mais que um amigo, um irmão que daqueles que a vida
          vem e da de prensete. Você foi e é um amigo em que me inspiro como pessoa e profissional.
          <br><br>
          Como já disse antes você é meu <b>padrinho de profissão</b>, e agora será meu <b>padrinho de casamento</b> haha! #tmjSempre meu parceiro!
          <br>
          E flora, tu não tem igual visse?! xD! inspriação para mim e para a noiva desde sempre! Como pessoa, amiga e claro não podia faltar a parte
          influêncer né verdade?! Ainda tenho que fé que vou ver <b>VOCÊ NO YOUTUBE</b> viu?!
          <i>Vamos ser fãs número UM! xD</i>
          <br><br>
          Estamos honrados em ter vocês fazendo parte de nossas vidas. Amamos vocês de coração!
        </p>
      </td>
      <td class="rightTd">
        <img class="rightImg" src="../../../assets/imagens/mayke&flora.jpg">
      </td>
    </tr>
    <tr>
      <td>
        <img class="leftImg" src="../../../assets/imagens/Luiz&Juny.jpg">
      </td>
      <td class="rightTextTd">
        <h1 style="font-weight: bold; font-size: 50px;">Luiz & Juny</h1> <br>
        <p style="text-align: justify;"> Alôooooo DR! O noivo falando eim! xD!
          <br>
          Rapaz, eu não sei o que dizer do meu brother de todos os brother todos! haha! Mas vou dizer DR, você é um cara sem igual. Que sorte a minha
          em ter mais um irmão que a vida deu de presente.
          <br><br>
          Você é um exemplo ser humano junto com sua amanda <b>JUNY</b> viu. E Juny, não tem pix para nada viu, eu aviso logo e pode providenciar os
          presentes porque casar custa caro. HAHAHA. Essa frase é muito a tua cara Juny. Obrigado aos dois por existerem na minha vida. E recentemente
          na vida da noiva também.
          <br><br>
          Vocês são incríveis e torço todos os dias pelos dois em minhas orações.
          <br>
          Estamos honrados com a presença de vocês. Seria impossível ter casamento sem a presença vocês aqui mais uma vez perto da gente.
        </p>
      </td>
    </tr>
    <tr>
      <td class="leftTextTd">
        <h1 style="font-weight: bold; font-size: 50px;">Alexandre & Del</h1>
        <br>
        <p style="text-align: justify;">Alô Alexandre!! Esse é meu grande amigo do peito! Não podia faltar você e Del num momento tão ímpar.
          <br>
          Como já foi falado antes, você é um irmãozão que mora no coração sem pagar aluguel. Logo que nos conhecemos já firmamos uma grande
          amizade e parceria. E de lá para cá, essa irmandade entre a gente só cresce.
          <br><br>
          E é claro que também não poderia ter casamento sem sua presença junto com sua morena (É assim que você sempre fala) haha.
          Vocês são exemplo grandes pessoas, de um casal forte que é espelho para nós que vamos casar agora.
          <br>
          Sendo assim, vamos celebrar juntos mais esse momento, pois o pedido de casamento surpresa lá atrás só foi possível também por causa
          de vocês e de Luiz e Juny. Foi show de bola! Agora é hora da gente comemorar juntos essa festa de juntar as escovas!
        </p>
      </td>
      <td class="rightTd">
        <img class="rightImg" src="../../../assets/imagens/alexandre&del.jpg">
      </td>
    </tr>
    <tr>
      <td>
        <img class="leftImg" src="../../../assets/imagens/guta&francisco.jpg">
      </td>
      <td class="rightTextTd">
        <h1 style="font-weight: bold; font-size: 50px;">Francisco & Guta</h1> <br>
        <p style="text-align: justify;"> O que dizer desses dois eim?! xD! <br> Foi justamente após a festa de casamento de vocês que rolou o famoso pedido
          de namoro para noiva. E foi uma surpresa daquelas!
          <br><br>
          Assim como ficamos maravilhados quando soubemos que iríamos ser padrinhos de Sofia, agora é a vez de vocês assumirem esse posto do lado
          de cá eim! xD! A amizade e parceria de vocês é maravilhosa e que bom foi poder conhecê-los e poder fazer parte um poucoquinho que seja
          da vida um do outro.
          <br><br>
          Torcemos sempre por vocês nas nossas orações. São grandes amigos, grandes irmãos que a vida também nos deu. E com a chegada de Sofia então,
          a família está completa. Que Deus sempre abençoe vocês com grandes vitórias, saúde e alegras. E que a Sofia cresça assim, linda e saudável
          e que traga muitas alegrias na vida de vocês.
          <br>
          Forte abraço meu dev Francisco e Guta! Amamos vocês!
        </p>
      </td>
    </tr>
  </table>
</mat-card>
